<ion-view title="机构列表" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page12-list15" class=" ">
            <ion-item class="item-icon-left  " id="page12-list-item36">
                <i class="icon ion-ios-partlysunny-outline"></i>深圳家隆集团</ion-item>
            <ion-item class="item-icon-left calm  " id="page12-list-item37">
                <i class="icon ion-ios-barcode-outline"></i>机构服务
                <span class="item-note">员工服务，客户服务</span>
            </ion-item>
            <ion-item class="item-icon-left royal  " id="page12-list-item38">
                <i class="icon ion-ios-color-filter-outline"></i>机构圈子
                <span class="item-note">集团分公司，家具公司，深圳成都商会</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>