<ion-view title="想买资产评估" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page6-button-bar2" class=" button-bar ">
            <a ui-sref="tabsController.page5" id="page6-button4" class=" button button-positive  button-block ">我的资产</a>
            <button id="page6-button5" class=" button button-royal  button-block ">想买资产</button>
            <a ui-sref="tabsController.page7" id="page6-button6" class=" button button-positive  button-block ">推荐资产</a>
        </div>
        <ion-list id="page6-list7" class=" ">
            <ion-item class="item-icon-left  " id="page6-list-item19" ui-sref="tabsController.page8">
                <i class="icon ion-ios-calculator-outline"></i>整体评估</ion-item>
            <ion-item class="item-divider " id="page6-list-item-divider3"></ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page6-list-item20" ui-sref="tabsController.page8">
                <h2>资产1</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page6-list-item21" ui-sref="tabsController.page8">
                <h2>资产2</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page6-list-item22" ui-sref="tabsController.page8">
                <h2>资产3</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-divider " id="page6-list-item-divider4"></ion-item>
            <ion-item class="item-icon-left  " id="page6-list-item23">
                <i class="icon ion-android-add"></i>添加资产</ion-item>
        </ion-list>
    </ion-content>
</ion-view>