<ion-view title="个人空间" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page3-list4" class=" ">
            <ion-item class="item-avatar  " id="page3-list-item9">
                <h2>个人档案</h2>
            </ion-item>
            <ion-item class="item-icon-left  " id="page3-list-item10">
                <i class="icon ion-ionic"></i>我的消息</ion-item>
            <ion-item class="item-icon-left  " id="page3-list-item11">
                <i class="icon ion-ionic"></i>我的交易</ion-item>
        </ion-list>
    </ion-content>
</ion-view>