<ion-view title="我的资产评估" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page5-button-bar1" class=" button-bar ">
            <button id="page5-button1" class=" button button-royal  button-block ">我的资产</button>
            <a ui-sref="tabsController.page6" id="page5-button2" class=" button button-positive  button-block ">想买资产</a>
            <a ui-sref="tabsController.page7" id="page5-button3" class=" button button-positive  button-block ">推荐资产</a>
        </div>
        <ion-list id="page5-list6" class=" ">
            <ion-item class="item-icon-left  " id="page5-list-item13" ui-sref="tabsController.page8">
                <i class="icon ion-ios-calculator-outline"></i>资产整体评估</ion-item>
            <ion-item class="item-divider " id="page5-list-item-divider1"></ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page5-list-item14" ui-sref="tabsController.page8">
                <h2>资产1</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page5-list-item15" ui-sref="tabsController.page8">
                <h2>资产2</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page5-list-item16" ui-sref="tabsController.page8">
                <h2>资产3</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-divider " id="page5-list-item-divider2"></ion-item>
            <ion-item class="item-icon-left  " id="page5-list-item18">
                <i class="icon ion-android-add"></i>添加资产</ion-item>
        </ion-list>
    </ion-content>
</ion-view>