<ion-view title="机构列表" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page2-list2" class=" ">
            <ion-item class="item-icon-left  " id="page2-list-item5" href="mailto:">
                <i class="icon ion-ios-book-outline"></i>新锐资产管理公司
                <span class="item-note">为您的资产保驾护航！</span>
            </ion-item>
        </ion-list>
        <ion-list id="page2-list5" class=" ">
            <ion-item class="item-icon-right  " id="page2-list-item12" ui-sref="tabsController.page5">开始资产评估
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="page2-list-item17">预约服务
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
    </ion-content>
</ion-view>