<ion-view title="不动产评估" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page8-list9" class=" ">
            <ion-item class="item-icon-right  " id="page8-list-item29">选择评估的方案
                <i class="icon ion-android-exit"></i>
            </ion-item>
        </ion-list>
        <ion-list id="page8-list10" class=" ">
            <ion-item class="item-divider " id="page8-list-item-divider7"></ion-item>
        </ion-list>
        <p id="page8-markdown1" style="color:#000000;" class=" ">这个页面是资产评估的详细页面，里面包括评估数据，包括评估的图表等</p>
        <p id="page8-markdown4" style="color:#000000;" class=" ">评估的方式可能有多种，客户可以选择评估方案然后获取相应的评估数据</p>
    </ion-content>
</ion-view>