<ion-view title="推荐资产评估" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page7-button-bar3" class=" button-bar ">
            <a ui-sref="tabsController.page5" id="page7-button7" class=" button button-positive  button-block ">我的资产</a>
            <a ui-sref="tabsController.page6" id="page7-button8" class=" button button-positive  button-block ">想买资产</a>
            <button id="page7-button9" class=" button button-royal  button-block ">推荐资产</button>
        </div>
        <ion-list id="page7-list8" class=" ">
            <ion-item class="item-icon-left  " id="page7-list-item24" ui-sref="tabsController.page8">
                <i class="icon ion-ios-calculator-outline"></i>整体评估</ion-item>
            <ion-item class="item-divider " id="page7-list-item-divider5"></ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page7-list-item25" ui-sref="tabsController.page8">
                <h2>资产1</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page7-list-item26" ui-sref="tabsController.page8">
                <h2>资产2</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="page7-list-item27" ui-sref="tabsController.page8">
                <h2>资产3</h2>
                <i class="icon ion-android-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-divider " id="page7-list-item-divider6"></ion-item>
            <ion-item class="item-icon-left  " id="page7-list-item28">
                <i class="icon ion-android-search"></i>设置搜索条件</ion-item>
        </ion-list>
    </ion-content>
</ion-view>