<ion-view title="机构列表" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page11-list14" class=" ">
            <ion-item class="item-icon-left positive  " id="page11-list-item33">
                <i class="icon ion-ios-paperplane-outline"></i>成都驻深圳办事处</ion-item>
            <ion-item class="item-icon-left calm  " id="page11-list-item34">
                <i class="icon ion-ios-barcode-outline"></i>机构服务
                <span class="item-note">预约服务，办事大厅等</span>
            </ion-item>
            <ion-item class="item-icon-left royal  " id="page11-list-item35">
                <i class="icon ion-ios-color-filter-outline"></i>机构圈子
                <span class="item-note">深圳成都商会</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>